<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackmaster | Contact Us</title>
    <link rel="icon" href="../assets/img/logo1.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body style="background-color: black;"data-aos="fade-up">
 <!-- NavBar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid">
    <a data-aos="fade-right" data-aos-duration="5000" class="navbar-brand" href="../templates/index.html"><img src="../assets/img/logo.png" alt="Logo" style="height: 50px;width: 300px;margin: 0;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
      <ul class="navbar-nav px-1 py-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">We Are Hiring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Road Map</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<!-- End NavBar -->
<div class="intro-cards">
    <div class="card-group"data-aos="fade-up">
        <div class="card" style="border-radius: 10px;">
            <i class="fa fa-suitcase w3-jumbo w3-padding" style="color: green;"></i>
          <div class="card-body">
            <h5 class="card-title text-center">General Enquiries</h5>
            <p class="card-text text-center">If you want to contact us for business Inquiries, the fastest way to do so is to call us:</p>
            <p class="card-text text-center"></p>
          </div>
        </div>
        <div class="card"style="border-radius: 10px;">
            <i class="fa fa-store w3-jumbo w3-padding" style="color: green;"></i>
          <div class="card-body">
            <h5 class="card-title text-center">Partnerships</h5>
            <p class="card-text text-center">For vendors and talent Interested in working with us : </p>
            <p class="card-text text-center"></p>
          </div>
        </div>
        <div class="card"style="border-radius: 10px;">
            <i class="fa fa-user w3-jumbo w3-padding" style="color: green;"></i>
          <div class="card-body">
            <h5 class="card-title text-center">Carrer</h5>
            <p class="card-text text-center">If you are Passionate, you are ready to join the Craftworld Events, please email us your detailed resume: </p>
            
          </div>
        </div>
      </div>
</div>

<div class="enquiry text-white" style="margin: 1%;max-width: 70%;margin: auto;">
  <!--Section: Contact v.2-->
<section class="mb-4" style="padding: 1%;">

  <!--Section heading-->
  <h1 class="heading" style="text-align: center;">Contact us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>
  <div class="row">
      <div class="col-md-9 mb-md-0 mb-5 "data-aos="fade-right">
          <form id="contact-form" name="contact-form">

              <!--Grid row-->
              <div class="row">
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label for="name" class="mb-1">Name</label>
                          <input type="text" id="name" name="name" class="form-control">
                          
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label for="email" class="mb-1"> Email</label>
                          <input type="text" id="email" name="email" class="form-control">
                          
                      </div>
                  </div>
              </div>
              <!--Grid row-->
              <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12">
                      <div class="md-form">
                        <label for="message" class="mb-1 mt-1">Elaborate Your Concern</label>
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea mb-3"></textarea> 
                      </div>
                  </div>
              </div>
              <!--Grid row-->
          </form>
          <div class="text-center text-md-left" >
              <a style="padding: 2%; width: 100%;" class="btn btn-success" onclick="document.getElementById('contact-form').submit();"><b>Send</b></a>
          </div>
          <div class="status"></div>
      </div>
      <!--Grid column-->
      <div class="col-md-3 text-center">
          <img id="form-logo" data-aos="zoom-in" src="../assets/img/logo.png" alt="logo">
      </div>
      <!--Grid column-->
  </div>
</section>
<!--Section: Contact v.2-->
</div>
<!-- footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"  ></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Hackmaster org.</a>
    </div>
    <!-- Copyright -->
    <!-- <div class="f-img">
    <img src="./assets/img/globe1.png" id="logo" alt="" style="height: 100px;width: 100px;">
  <img src="./assets/svg/HACKMASTER.svg" id="logo" alt="" style="opacity: 0.5; width: 500px;padding: 2%;">
</div> -->
  </footer>
      <!-- end footer -->
      <!-- Back to top button-->
     <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out" data-abc="true"></a> 
     <!-- ?scripts -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    </body>
  </html>

  <!-- <!DOCTYPE html>
<html>
<head>
<title>Superbase Form</title>
</head>
<body>
  <form action="/submit" method="POST">
    Name: <input type="text" name="username"><br><br>
    Email: <input type="email" name="email"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html> -->
